<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="resources/css/style.css" rel="stylesheet" type="text/css"/>
    <title>Página inicial</title>
</head>
<body>
    <div id="container">
        <div id="topo">
            <header>
                <nav>
                    <ul>
                        <li><a href="index.php?pagina=home" class="btn-menu">Home</a></li>
                        <li><a href="index.php?pagina=sobre" class="btn-menu">Sobre</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="conteudo">
            {{conteudo_dinamico}}
        </div>
    </div>
    
    
    
</body>
</html>